.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:top;
  color: #4da3a4;
  
  background-image: linear-gradient(79deg, #fbebc5, #fbebc5 48%, #fbebc5);
}

.right_data mt-6{
  align-content: end;
  display: flex;
}

.Bebo {
  text-align:center;
  display: flex;
  min-height: 100vh;
  align-items:center;
  color: #ffffff;  
}

.form-title{
  font-size:xx-large;
}

.form-title1{
  font-size: x-large;
  border-radius: 10px;

}

.Halomachu {
  text-align:center;
  display: flex;
  min-height: 100vh;
  align-items:start;
  color: #fcffff;

}

.machu{
  text-align:center;
  display: flex;
  min-height: 100vh;
  align-items:top;
  color: #ffffff;
}


.right_data mt-6{
  text-align: center;
}


.right_data mt-4{
  align-items: start;

}

.auth-form-container1,  .login-form, .register-form{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;

}

.register-form10{
  padding: 5rem;
}

.auth-form-container{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;


}



label{
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 1rem 0;
  padding: 1rem;
  min-width:60vh;
  border:none;
  border-radius: 10px;
  margin-left: .5rem;
}


button{
  border:none;
  background-color: #be3838;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(244, 251, 251)
}


.signup-image-link1, .signup-image-link {
  font-size: 16px;
  background: none;
  color: #fbfcfc;
  text-decoration: underline;
}

.signup-image-link3{
  font-size: 12.369998px;
  background: none;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create-home-page-wrapper {
  background-image: url(./components/1.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-login-page-wrapper {
  background-image: url(./components/0.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.create-register-page-wrapper {
  background-image: url(./components/33.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-passmail-page-wrapper {
  background-image: url(./components/39.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


